# 1. Ignore everything in the vault
/*

# 2. But do NOT ignore the .gitignore file itself
!/.gitignore

# 3. Un-ignore the path down to Active Scripts
!/09. Social Media/
/09. Social Media/*

# 4. Un-ignore Active Scripts and everything inside it
!/09. Social Media/Active Scripts/
!/09. Social Media/Active Scripts/**

# 5. 😒-ignore Things I've Learned and everything inside it
!/09. Social Media/Things I've Learned/
!/09. Social Media/Things I've Learned/**